.node circle {
  fill: #fff;
  stroke: #7D0C0C;
  stroke-width: 1.5px;
}

.node {
  font: 5px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

#mainviz{

}

  .featureUl {
    padding: 0;
    margin: 0;
  }

  .featureLi {
    list-style-type: none;
    cursor: pointer;
    padding: 5px;
  }

  .featureLi:hover {
    background: #e7e7e7;
  }

  .featureLiSel, .featureLiSel:hover {
    background: rgb(55,126,184);
    font-weight: bold;
    color: white;
  }

  #ex1Slider .slider-selection {
  background: #BABABA;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}